[submodule "lib/ansible/modules/core"]
	path = lib/ansible/modules/core
	url = git@github.com:musashi-dev/ansible-modules-core.git
	branch = release1.8.4
[submodule "lib/ansible/modules/extras"]
	path = lib/ansible/modules/extras
	url = git@github.com:musashi-dev/ansible-modules-extras.git
	branch = release1.8.4
[submodule "v2/ansible/modules/core"]
	path = v2/ansible/modules/core
	url = git@github.com:musashi-dev/ansible-modules-core.git
	branch = release1.8.4
[submodule "v2/ansible/modules/extras"]
	path = v2/ansible/modules/extras
	url = git@github.com:musashi-dev/ansible-modules-extras.git
	branch = release1.8.4
